// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

@width-severity: 20px;
@width-position: 100px;
@width-file: 50%;
@width-message: 50%;
@light-background: lighten(@tool-panel-background-color, 5%);

.deepcode {
  width: 100%;
  padding: 4px;

  .row {
    display: flex;
    align-items: center;
    height: 28px;

    .col {
      padding: 4px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      &.severity {
        width: @width-severity;
      }

      &.position {
        width: @width-position;
      }

      &.file {
        width: @width-file;
      }

      &.message {
        width: @width-message;
      }
    }
  }

  .dc-table-head {
    width: calc(~'100% - 12px');
    background-color: @light-background;

    .row {
      height: 28px;

      .col {
        font-weight: bold;
      }
    }
  }

  .dc-table {
    width: 100%;
    margin-top: 4px;

    .row {
      cursor: pointer;
      transition: all 0.1s linear;

      &:hover {
        background-color: @light-background;
      }

      .col {
        &.file {
          .name {
            color: @text-color-highlight;
            margin-right: 8px;
          }
          .path {
            color: @text-color-subtle;
          }
        }
        .icon-info {
          color: @background-color-info;
        }
        .icon-issue-opened {
          color: @background-color-warning;
        }
        .icon-alert {
          color: @background-color-error;
        }
      }
    }
  }
}

.dc-status {

}

.tooltip.top.dc-tooltip {
  min-width: 120px;

  .tooltip-arrow {
    border-top-color: @tool-panel-background-color;
  }
  .tooltip-inner {
    background-color: @tool-panel-background-color;
    padding: 8px 4px;

    .dc-menu-container {
      background-color: @tool-panel-background-color;
      text-align: left;

      .dc-menu-item {
        padding: 8px 16px;
        cursor: pointer;
        text-align: left;

        &:last-child {
          border-bottom: none;
        }

        &:hover {
          background-color: @base-background-color;
        }
      }
    }

    .dc-scanning-container,
    .dc-upload-container,
    .dc-analysis-container {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 8px;
      text-align: left;
      min-width: 250px;

      .icon {
        font-size: @component-icon-size;
        margin-right: 8px;
      }

      .info-container {
        width: 100%;

        .title {
          width: 100%;
          padding: 4px;
        }
        .info {
          width: 100%;
          padding: 4px;
          font-size: @font-size;
        }
      }
    }

    .dc-progress-bar-container {
      background-color: @tool-panel-background-color;
      width: 100%;
      height: 2px;
      margin-top: 4px;
      padding: 0px 8px 0px 4px;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;

      &.start {
        justify-content: flex-start;
      }

      &.end {
        justify-content: flex-end;
      }

      .dc-bar {
        background-color: @background-color-info;
        height: 2px;
        width: 0;
        transition: width 0.2s ease-out;
      }
    }
  }
}
